.dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1rem 5rem;
}

.ownedProperties {
  width: 100%;
  background: rgba($color-cream, 0.4);
  border: 2px solid $color-cream;
  border-radius: $border-radius;
}

.propertiesHeader {
  padding: 1rem;
}

.property {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  background: $color-cream;
}
