@import "globals.scss";
@import "navbar.scss";
@import "auth.scss";
@import "dashboard.scss";
@import "customErrorPage.scss";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gradient-canvas {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;

  --gradient-color-1: #05386b;
  --gradient-color-2: #31685d;
  --gradient-color-3: #43a770;
  --gradient-color-4: #2a4b6d;
}

.inputContainer {
  border: 2px solid rgb(60, 66, 87);
  border-radius: $border-radius;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  &:focus-within {
    border: 2px solid rgb(90, 123, 245);
    box-shadow: 0 0 0 1px rgba(96, 119, 202, 0.5);
  }

  input {
    border: unset;
    color: rgb(91, 91, 92);
    font-size: 1rem;
    height: 100%;
    width: 100%;
    padding: 8px 0px 8px 16px;
    outline: none;
  }

  .inputIcon {
    color: $color-blue;
    max-width: 34px;
    width: 34px;
    height: 100%;
    padding: 0.5rem;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.splashCard {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: $color-cream;
  padding: 1rem;
  border-radius: $border-radius;
  color: $color-blue;
  box-shadow: 0 0 20px 5px $color-cream;
  overflow: hidden;
}

.splashWordsContainer {
  display: flex;
  color: $color-green-dark;
}

.saying {
  display: none;
  font-size: 2rem;
}

.currentSaying {
  display: flex;
  animation: splashCurrentUp 0.5s ease-in-out forwards;
  margin-right: 0.7rem;
}

.lastSaying {
  animation: splashLastSaying 0.5s ease-in-out forwards;
}

@keyframes splashCurrentUp {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes splashLastSaying {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    display: none;
    transform: translateY(-100vh);
  }
}
