.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 1rem 2rem;
}

.logo {
  font-size: 2rem;
  transition: all 1s;
  cursor: pointer;
  color: $color-cream;
  user-select: none;
}

button.signin {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 3px 13px;
  font-size: 1.2rem;
  // font-weight: 600;
  width: fit-content;
  border-radius: 20px;
  border: 2px solid $color-cream;
  color: $color-cream;
  transition: all 1s ease;
  cursor: pointer;

  * {
    cursor: pointer;
    transition: all 0.8s ease;
  }

  .signinArrow {
    position: absolute;
    display: flex;
    width: 20px;
    right: 0;
    transform: translateX(150%);
  }

  &:hover {
    .signinText {
      margin-right: 15px;
    }
    .signinArrow {
      transform: unset;
      right: 5px;
    }
  }
}

@media screen and (min-width: 768px) {
}
